*{
  font-family: sans-serif;
  max-width: 100%;
}

html, body{
  margin: auto;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

.titulo{
  padding: 25px;
}

.header{
    margin: 0px;
    padding: 0px;
    margin: 0px;
}

.contenedor-navegador{
    margin: auto; 
    max-width: 1300px; 
    overflow: auto; 
    padding: 0 20px;
}

.titulo{
    float: left;
    padding-top: 16px;
    font-size: 25px;
}


.contenedor-text{
  padding: 75px;
}


 .listado{
    list-style: none;
    float: right;
}

.listado-interno{
    float: right;
}

.listado-contenido{
    float: right;
    padding: 20px;
    display: block;
    color: rgb(47, 62, 75);
    font-size: 19px;
    text-decoration: none;
    font-weight: bold;
    opacity: 50%;
}

  .problema-redes{
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .social-media{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
  }

  .modal-body{
      background-color: #2f4f30;
  }

  .contenedor{
    width: 390px;
    max-width: 100%;
    box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.2);
    padding: 50px;
    border-radius: 50px;
    margin: 25px;
  }

  img{
    max-width: 100%;
  }

  .contenedor-pago{
    width: 600px;
    margin: auto;
    border: solid;
    border-color: gray;
    border-radius: 7px;
  }

  .footer-fi{
    display: flex;
  }

  .boton-basura{
    border: none;
    background: none;
  }

  .precio-final{
    text-decoration: none;
    list-style: none;
    text-align: center;
  }

  .contenedor-pag{
    display: grid;
    grid-template-columns: 20% 20% 35% 25%;
    gap: .5rem;
  }

  .contenedor-pag > *{
    outline: solid black;
  }

  .contenedor-img{
    height: 234px;
    width: 264px;
  }

  .imagen-prod{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #root{
    justify-content: center;
  }

  #agregar-producto{
    border: none;
    background: none;
  }

  #eliminar-producto{
    border: none;
    background: none;
  }

  #gustos-producto{
    border: none;
    background: none;
  }

  @media only screen and (max-width: 768px){
    .titulo{
      float: none;
      display: block;

    }
    .titulo-header{
      margin: 25px;
    }
    .icon{
      font-size: 1.5rem;
      height: 1.5rem;
      width: 1.5rem;
    }
    
    .navegador{
      position: fixed;
      top: 0;
      right: -300px;
      width: 300px;
      min-width: 300px;
      transition:all 0.5s;
      background-color: white;
    }
    .listado{
      display: flex;
      flex-direction: column;
    }

    .navegador.show{
      right: 0;
    }
    .contenedor-text{
      padding: 25px;
    }
    .menu-principal{
        margin: 25px;
        display: block;
    }

    .contenedor-pago{
      width: 300px;
    }

    .contenedor-pag{
      grid-template-columns: 1fr;
    }

    #hamburgerIcon{
      display: flex;
    }
    #root{
      justify-content: center;
    }

    .footer-fi{
      display: grid;
    }
  
  }
  @media (min-width: 768px){
    #hamburgerIcon{
      display: none;
    }
  }